body {
    background-image: linear-gradient( to right, pink, salmon, rgb(202, 77, 77));
    font-family: roboto;
 
}
main header div img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
}
main header nav {
    position: relative;
    text-align: right;
    margin-right: 20px;   
}
main header nav li {
   list-style-type: none;
   display: inline-block; 
}
main header nav a {
    background-color: transparent;
    text-decoration: none;
    color: rgb(131, 7, 69);
}
h1 {
    text-decoration: underline;   
}
table {
    background-color: bisque;
}
h3 {
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
.box-a {
    background-color: bisque;
    width: 300px;
    height: 300;
    border: 15px solid rgb(179, 11, 95);
    padding: 50px;
    margin: 20px;
    display: flex;
    align-items:center;
    float: left;  
}
.box-b {
    background-color: bisque;
    width: 600px;
    height: 300;
    border: 15px solid rgb(179, 11, 95);
    padding: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.resume {
    background-color: bisque;
    width: 400px ;
    height:200px;
    padding: 25px;
    margin: 10px;
    border: 10px solid rgb(179, 11, 95);
    display:flex;
    align-items: center;
    float: left;
}
#contact-1 {
    background-color: bisque;
    width: 310px ;
    height: 175px;
    padding: 25px;
    margin: 10px;
    border: 10px solid rgb(179, 11, 95);
    display:flex;
    align-items: center;
    float: left;
}
#contact-2 {
    background-color: bisque;
    width: 335px ;
    height: 185px;
    border: 10px solid rgb(179, 11, 95);
    display:flex;
    align-items: center;
}